tests/osgi-tests/src/test/resources/carbon-home/resources/scxml.xsd

<!--
 ~ Copyright (c) 2017, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
 ~
 ~ WSO2 Inc. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~    http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied.  See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:scxml="http://www.w3.org/2005/07/scxml"
           targetNamespace="http://www.w3.org/2005/07/scxml" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="scxml" type="scxml:scxmlType"/>
    <xs:complexType name="scxmlType">
        <xs:sequence>
            <xs:element name="state" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:element name="datamodel" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType mixed="true">
                                                        <xs:sequence>
                                                            <xs:element name="permissions" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="permission"
                                                                                    maxOccurs="unbounded" minOccurs="0">
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:extension base="xs:string">
                                                                                        <xs:attribute type="xs:string"
                                                                                                      name="roles"
                                                                                                      use="required"/>
                                                                                    </xs:extension>
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="validations" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="validation" minOccurs="0"
                                                                                    maxOccurs="unbounded">
                                                                            <xs:complexType>
                                                                                <xs:sequence>
                                                                                    <xs:element name="parameter"
                                                                                                maxOccurs="unbounded"
                                                                                                minOccurs="0">
                                                                                        <xs:complexType>
                                                                                            <xs:simpleContent>
                                                                                                <xs:extension
                                                                                                        base="xs:string">
                                                                                                    <xs:attribute
                                                                                                            type="xs:string"
                                                                                                            name="name"
                                                                                                            use="required"/>
                                                                                                    <xs:attribute
                                                                                                            type="xs:string"
                                                                                                            name="value"
                                                                                                            use="required"/>
                                                                                                </xs:extension>
                                                                                            </xs:simpleContent>
                                                                                        </xs:complexType>
                                                                                    </xs:element>
                                                                                </xs:sequence>
                                                                                <xs:attribute type="xs:string"
                                                                                              name="forTarget"
                                                                                              use="required"/>
                                                                                <xs:attribute type="xs:string"
                                                                                              name="class"
                                                                                              use="required"/>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                                        <xs:attribute type="xs:string" name="forTarget" use="optional"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="execution" maxOccurs="unbounded" minOccurs="0">
                                                    <xs:complexType mixed="true">
                                                        <xs:sequence>
                                                            <xs:element name="parameter" maxOccurs="unbounded"
                                                                        minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
                                                                    </xs:sequence>
                                                                    <xs:attribute type="xs:string" name="name"
                                                                                  use="optional"/>
                                                                    <xs:attribute type="xs:string" name="value"
                                                                                  use="optional"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute type="xs:string" name="forTarget" use="optional"/>
                                                        <xs:attribute type="xs:string" name="class" use="optional"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="ui" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="forTarget"
                                                                              use="optional"/>
                                                                <xs:attribute type="xs:string" name="href"
                                                                              use="optional"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="inputs" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="input" maxOccurs="unbounded"
                                                                        minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute type="xs:string" name="name" use="required"/>
                                                                            <xs:attribute type="xs:boolean" name="required" use="optional"/>
                                                                            <xs:attribute type="xs:string" name="label" use="optional"/>
                                                                            <xs:attribute type="xs:string" name="placeHolder" use="optional"/>
                                                                            <xs:attribute type="xs:string" name="tooltip" use="optional"/>
                                                                            <xs:attribute type="xs:string" name="regex" use="optional"/>
                                                                            <xs:attribute type="xs:string" name="values" use="optional"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute type="xs:string" name="forTarget" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="approval" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="forTarget"
                                                                              use="required"/>
                                                                <xs:attribute type="xs:string" name="roles"
                                                                              use="optional"/>
                                                                <xs:attribute type="xs:integer" name="votes"
                                                                              use="required"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="permission" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:simpleContent>
                                                            <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="roles"
                                                                              use="required"/>
                                                                <xs:attribute type="xs:string" name="forTarget"
                                                                              use="required"/>
                                                            </xs:extension>
                                                        </xs:simpleContent>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="validation" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="parameter" maxOccurs="unbounded"
                                                                        minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:simpleContent>
                                                                        <xs:extension base="xs:string">
                                                                            <xs:attribute type="xs:string" name="name"
                                                                                          use="required"/>
                                                                            <xs:attribute type="xs:string" name="value"
                                                                                          use="required"/>
                                                                        </xs:extension>
                                                                    </xs:simpleContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute type="xs:string" name="forTarget" use="required"/>
                                                        <xs:attribute type="xs:string" name="class" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="js" minOccurs="0" maxOccurs="unbounded">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="console" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="script">
                                                                            <xs:complexType>
                                                                                <xs:simpleContent>
                                                                                    <xs:extension base="xs:string">
                                                                                        <xs:attribute type="xs:string"
                                                                                                      name="type"
                                                                                                      use="required"/>
                                                                                    </xs:extension>
                                                                                </xs:simpleContent>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                    <xs:attribute type="xs:string" name="function"
                                                                                  use="required"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element name="server" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="script">
                                                                            <xs:complexType>
                                                                                <xs:attribute type="xs:string"
                                                                                              name="type"/>
                                                                            </xs:complexType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                    <xs:attribute type="xs:string" name="function"
                                                                                  use="required"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                        <xs:attribute type="xs:string" name="forTarget" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="name" use="required">
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="checkItems" />
                                                        <xs:enumeration value="transitionValidation" />
                                                        <xs:enumeration value="transitionPermission" />
                                                        <xs:enumeration value="transitionScripts" />
                                                        <xs:enumeration value="transitionExecution" />
                                                        <xs:enumeration value="transitionUI" />
                                                        <xs:enumeration value="transitionInput" />
                                                        <xs:enumeration value="transitionApproval" />
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="transition" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="event" use="optional"/>
                                        <xs:attribute type="xs:string" name="target" use="optional"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="checkpoints" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="checkpoint" minOccurs="1" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="boundary" minOccurs="1" maxOccurs="1">
                                                    <xs:complexType>
                                                        <xs:attribute name="min" use="required"/>
                                                        <xs:attribute name="max" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                            <xs:attribute type="xs:string" name="id" use="required"/>
                                            <xs:attribute type="xs:string" name="durationColour" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute type="xs:string" name="id" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute type="xs:float" name="version"/>
        <xs:attribute type="xs:string" name="initialstate"/>
    </xs:complexType>
</xs:schema>
